/* Zane Jacobs
 * Feb 3, 2017
 * 
 */

body {
	font-family: 'Roboto Slab';
}

p {
	margin: 0;
}

.line {
	height: 1px;
	background-color: black;
}

header {
	width: 80%;
	margin: 50px auto 0 auto;
}

header a {
	text-decoration: none;
	color: black;
}

header a:hover {
	text-decoration: none;
	color: black;
}

header h1 {
	font-weight: 300;
	font-size: 36px;
}

header h2 {
	font-weight: 300;
	font-size: 20px;
	text-align: right;
	margin-top: 6px;
}

header h2 div {
	display: inline-block;
}

main {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

main.landing {
	margin-top: 19%;
	text-align: center;
}

main.nonword {
	margin-top: 10%;
}

main input {
	margin: 12px;
}

main h2 {
	font-size: 36px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 40px;
}

main div.row {
	margin-top: 10px;
}

footer {
	margin-top: 19%;
	margin-bottom: 50px;
	text-align: center;
}

footer a {
	margin: 6px;
}

.input_box {
	width: 300px;
	border: 1px solid black;
}
